<!-- About Intro Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2 id="about-header">Via Perusa</h2>
      </div>
      <div class="col-md-7 col-sm-12">
        <div class="block">

          <p>Over 10 years, Via Perusa has consulted in the process of sending parcels to Lima. Thanks to this, Via Perusa has formed several relationships to offer you to the best possible experience and has aid in personalizing your flight to Peru at reasonable prices. Via Perusa is a company committed to its customers to meet their needs, providing a customer service that gives you security and confidence.
                     </p>

          <p>Sobre 10 años, Via Perusa a consultado en el proceso para que usted pueda realizar sus envios de sus encomiendas a Lima. Gracias a esto, Via Perusa a formado varias relaciones para ofrecerle la mejor experiencia posible y poder personalizar su vuelo a Perú a buen precio. Via Perusa es una empresa comprometida con sus clientes para satisfacer sus necesidades brindadoles un servicio que les da seguridad y confianza durante sus transmites</p>

        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <div id="viaperusa-picture"></div>
          <!-- see css/style.css-->
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>