<div id="contact-box" class="row">
  <div class="col-sm-12">
    <div class="block">
      <h2>COVID-19</h2>
      <div>
        <p>
        Via Perusa has already felt the economic effects of COVID-19 and we continue to try to figure out how to stay afloat during the stay-at-home order. There is a strong possibility we may have to make the very difficult decision to dissolve the company.
        </p>

        <p>
        To everyone who has used our services and products, to whose loyal customers, to friends and family that has helped us in any way, especially during these hard times.
        Thank you.
        </p>

        <p>
        We will continue to keep you posted for ongoing orders to ensure all transactions and accounts are settled.
        </p>
        <br>
        <p>
          Via Perusa ya ha sentido los efectos económicos de COVID-19 y seguimos tratando de descubrir cómo mantenernos a flote durante la orden de quedarse en casa. Existe una gran posibilidad de que tengamos que tomar la difícil decisión de disolver la empresa.

        <p>
      A todos los que han utilizado nuestros servicios y productos, a cuyos clientes leales, a amigos y familiares que nos han ayudado de alguna manera, especialmente durante estos tiempos difíciles. Gracias.
        </p>

        <p>
      Continuaremos manteniéndolo informado sobre los pedidos en curso para garantizar que se liquiden todas las transacciones y cuentas.
        </p>



      </div>
    </div>
  </div>
</div>