<!-- Testimonial Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div>
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            <div>
                <img class="quotation-mark pull-left" src="img/quote-start.png" alt="Img">
                <img class="quotation-mark pull-right" src="img/quote-end.png" alt="Img">
                <p>Servicio excepcional! Asesoría profesional en consulta y trabajo notarial confiable, todo con un trato amable. Sin duda volveré a contratarlos. Gracias!!</p>
                <div class="user">
                    <p><span>Gaby Cano</span> — <em>August 8, 2025</em></p>
                </div>
            </div>
            <div>
                <img class="quotation-mark pull-left" src="img/quote-start.png" alt="Img">
                <img class="quotation-mark pull-right" src="img/quote-end.png" alt="Img">
                <p>Buena atención al cliente</p>
                <div class="user">
                    <p><span>Juli</span> — <em>July 2025</em></p>
                </div>
            </div>
            <div>
                <img class="quotation-mark pull-left" src="img/quote-start.png" alt="Img">
                <img class="quotation-mark pull-right" src="img/quote-end.png" alt="Img">
                <p>Excelente servicio la señora con lentes muy amable 🤗</p>
                <div class="user">
                    <p><span>Andre Cortes</span> — <em>August 2024</em></p>
                </div>
            </div>
            <div>
                <img class="quotation-mark pull-left" src="img/quote-start.png" alt="Img">
                <img class="quotation-mark pull-right" src="img/quote-end.png" alt="Img">
                <p>Exelente el servicio Gracias Roger!</p>
                <div class="user">
                    <p><span>Luis Balseca</span> — <em>February 2025</em></p>
                </div>
            </div>
            <div>
                <img class="quotation-mark pull-left" src="img/quote-start.png" alt="Img">
                <img class="quotation-mark pull-right" src="img/quote-end.png" alt="Img">
                <p>Excelente Servicio !!</p>
                <div class="user">
                    <p><span>Danilo Guananga</span> — <em>February 2025</em></p>
                </div>
            </div>
            <div>
                <img class="quotation-mark pull-left" src="img/quote-start.png" alt="Img">
                <img class="quotation-mark pull-right" src="img/quote-end.png" alt="Img">
                <p>Pues todo excelente, buen servicio, excelente precios, y pues igual via perusa siempre está pendiente de tus casos, por ejemplo tuve un pequeño inconveniente con el servicio postal por mis documentos, y pues siempre vía perusa le dio seguimiento hasta que logre tener mis documentos en mano, excelente servicio.!!!</p>
                <div class="user">
                    <p><span>Anier Sotelo</span> — <em>July 2024</em></p>
                </div>
            </div>
            <div>
                <img class="quotation-mark pull-left" src="img/quote-start.png" alt="Img">
                <img class="quotation-mark pull-right" src="img/quote-end.png" alt="Img">
                <p>La agencia más sería y amable de Elizabeth</p>
                <div class="user">
                    <p><span>Jaime Jara</span> — <em>2018</em></p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>