<!-- Testimonial Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div>
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            <div>
                <img class="quotation-mark pull-left" src="img/quote-start.png" alt="Img">
                <img class="quotation-mark pull-right" src="img/quote-end.png" alt="Img">
                <p>La agencia más sería y amable de Elizabeth</p>
                <div class="user">
                  <p><span>Jaime Jara</span> Local Guide</p>
                </div>
            </div>
            <div>
                <img class="quotation-mark pull-left" src="img/quote-start.png" alt="Img">
                <img class="quotation-mark pull-right" src="img/quote-end.png" alt="Img">
                <p>Buena atención al  cliente</p>
                <div class="user">
                  <p><span>Juli</span> Local Guide</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>